body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #181818;
    color: #ffffff;
}

.chat-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    height: 90vh;
    transition: background-color 0.3s, color 0.3s;
}

.chat-container.dark-mode {
    background-color: #282c34;
    color: #ffffff;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
    transition: background-color 0.3s;
}

.message:hover {
    background-color: #f1f1f1;
}

body.dark-mode .message:hover {
    background-color: #444444;
}

.user-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-content {
    flex: 1;
}

.timestamp {
    color: #999;
    font-size: 0.9em;
}

.author {
    font-weight: bold;
}

#scrollTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#scrollTop:hover {
    background-color: #0056b3;
}

#darkModeToggle {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#darkModeIcon {
    width: 40px;
    height: 40px;
}
